<div class="sidenav">
    <div class="login-main-text">
        <h1>Update<br> Employee</h1>
        <p>Please enter to update details of employee.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form #managerLogin="ngForm" *ngIf="employee && address" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" #firstName='ngModel' [class.is-invalid]='firstName.invalid && firstName.touched' [(ngModel)]="employee.firstName" name="firstName" placeholder="First Name" required>
                    <small class="text-danger" [class.d-none]='firstName.valid || firstName.untouched'>First name is
                        required</small>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" type="text" #lastName='ngModel' [class.is-invalid]='lastName.invalid && lastName.touched' [(ngModel)]="employee.lastName" name="lastName" placeholder="Last Name" required>
                    <small class="text-danger" [class.d-none]='lastName.valid || lastName.untouched'>First name is
                        required</small>
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input class="form-control" #mobile='ngModel' [(ngModel)]='employee.mobile' pattern="^\d{10}$" [class.is-invalid]='mobile.invalid && mobile.touched' type="tel" name="mobile" placeholder="Mobile" required>
                    <!-- <small class="text-danger" [class.d-none]='phone.valid || phone.untouched'>Phone is required and must be of 10 digits</small> -->
                    <div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)">
                        <small class="text-danger" *ngIf='mobile.errors.required'>Phone is required</small>
                        <small class="text-danger" *ngIf='mobile.errors.pattern'>Phone must be of 10 digits</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input class="form-control" type="datetime" #dob='ngModel' [class.is-invalid]='dob.invalid && dob.touched' [(ngModel)]="employee.dob" name="dob" placeholder="Date of Birth" required>
                    <small class="text-danger" [class.d-none]='dob.valid || dob.untouched'>DOB is
                        required</small>
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <input class="form-control" type="text" #company='ngModel' [class.is-invalid]='company.invalid && company.touched' [(ngModel)]="employee.company" name="company" placeholder="Company" required>
                    <small class="text-danger" [class.d-none]='company.valid || company.untouched'>Company is
                        required</small>
                </div>

                <div ngModelGroup='address'>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input class="form-control" #street='ngModel' [class.is-invalid]='street.invalid && street.touched' type="text" name="street" [(ngModel)]='address.street' placeholder="Street" required>
                        <small class="text-danger" [class.d-none]='street.valid || street.untouched'>Street is
                            required</small>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input class="form-control" #city='ngModel' [class.is-invalid]='city.invalid && city.touched' type="text" name="city" [(ngModel)]='address.city' placeholder="City" required>
                        <small class="text-danger" [class.d-none]='city.valid || city.untouched'>City is
                            required</small>
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input class="form-control" #state='ngModel' [class.is-invalid]='state.invalid && state.touched' type="text" name="state" [(ngModel)]='address.state' placeholder="State" required>
                        <small class="text-danger" [class.d-none]='state.valid || state.untouched'>State is
                            required</small>
                    </div>
                    <div class="form-group">
                        <label for="pinCode">Postal Code</label>
                        <input class="form-control" #pinCode='ngModel' [class.is-invalid]='pinCode.invalid && pinCode.touched' type="text" name="pinCode" [(ngModel)]='address.pinCode' placeholder="Postal Code" required>
                        <small class="text-danger" [class.d-none]='pinCode.valid || pinCode.untouched'>Postal Code is
                            required</small>
                    </div>
                </div>
                <button type="submit" [disabled]='managerLogin.form.invalid' class="btn btn-black">Update</button>
                <button (click)="gotoEmployeeList()" style="margin-left: 5px;" class="btn btn-secondary">Back</button>
            </form>
            <div [hidden]="!submitted">
                <small class="text-success">Employee Updated successfully!</small>
            </div>
        </div>
    </div>
</div>