<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" [(ngModel)]="manager.email" required class="form-control" name="email" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" [(ngModel)]="manager.password" required class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <button style="margin-left: 1%;" type="submit" class="btn btn-secondary">Register</button>
            </form>
            <div [hidden]="!loginFailed">
                <small class="text-danger">Login failed! Please try again</small>
            </div>
        </div>
    </div>
</div><br>